/* Add CSS Styling */

.click-me, .click-me-too {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.click-me {
    background-color: black;
    color: white;
}

.click-me-too {
    background-color: yellow;
}